<section class="name_experiments">
  <h1>Long Running Experiments Names:</h1>

  <ul>
    <% @names_with_long_running_experiments.each do |name| %>
      <li><%= name %></li>
    <% end %>
  </ul>
</section>
