<h1> Long Running Experiments </h1>

<section class="experiments">
  <ul>
    <% @long_experiments.each do |experiment| %>
      <li><p> Experiment: <%= experiment.name %> | Months spent working on experiment: <%= experiment.num_months %></p></li>
    <% end %>
  </ul>
</section>