<h1><%= @lab.name %></h1>

<ul>
  <% @lab.scientists_with_experiment_counts.each do |scientist| %>
    <li>
      <strong><%= scientist.name %> - with <%= scientist.experiment_count %> experiments</strong>
    </li>  
  <% end %>